# 🔹 Ігнорувати все за замовчуванням
/*

# 🔹 залишити основні файли в корені
!.gitignore
!README.md

# 🔹 Дозволити  GitHub
!.github/
!.github/workflows/
!.github/workflows/release.yml

# 🔹 Дозволити директорію Okay та модулі
!/Okay/Modules/Sviat/
!/Okay/Modules/Sviat/BlackBox/
